[Unit]
Description=CDE Login Manager
After=rc-local.service systemd-user-sessions.service

[Service]
ExecStart=/usr/dt/bin/dtlogin
ExecReload=kill -SIGHUP $MAINPID
KillMode=mixed
Restart=always

[Install]
Alias=display-manager.service
